* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-width: 320px;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
  line-height: 1.5;
  font-size: 15px;
  font-family: "Verdana", sans-serif; }

.content {
  max-width: 1366px;
  width: 100% !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  margin: 0 auto !important;
  background-position: center center !important;
  background: url("../images/background.jpg");
  padding: 49px 0; }

.container {
  max-width: 1062px;
  width: 100% !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  margin: 0 auto !important;
  background-position: center center !important; }

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 70px; }

.logo a {
  position: relative;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  padding-left: 61px;
  line-height: 1; }
  .logo a::before {
    content: url("../images/logo.png");
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0; }
  .logo a:hover {
    color: #f26522; }
  .logo a:hover::before {
    content: url("../images/logoColor.png"); }
  .logo a span {
    display: block;
    font-size: 29px; }

.header-cont {
  text-align: right; }
  .header-cont li {
    list-style: none; }
    .header-cont li a {
      font-size: 18px;
      font-weight: 400;
      color: #fff;
      text-decoration: none; }
      .header-cont li a:hover {
        color: #f26522; }

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(317px, 1fr));
  grid-row-gap: 58px; }

.img-blocks {
  text-align: center;
  width: 307px; }
  .img-blocks:hover .img-link a {
    color: #f26522; }
  .img-blocks:hover .hover-block {
    height: 63px; }

.img-block-inner {
  position: relative;
  margin-bottom: 22px;
  width: 307px; }

.left-img-blocks {
  justify-self: start; }

.center-img-blocks {
  justify-self: center; }

.right-img-blocks {
  justify-self: end; }

.img-link a {
  font-size: 18px;
  color: #fff;
  text-decoration: none; }

.hover-block {
  display: grid;
  position: absolute;
  overflow: hidden;
  left: 0;
  bottom: 0;
  grid-template-columns: 1fr 1fr;
  background-color: #f26522;
  height: 0px;
  width: 308px;
  transition: .3s linear; }

.price {
  justify-self: start;
  text-align: left;
  font-size: 20px;
  color: #fff;
  line-height: 1;
  padding: 4px 0 0 13px; }
  .price span {
    font-size: 10px; }

.details {
  align-self: center;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none; }
  .details:hover {
    text-decoration: underline; }
  .details::after {
    content: " ";
    display: inline-block;
    width: 7px;
    height: 18px;
    background-image: url("../images/Arrow.png");
    background-repeat: no-repeat;
    position: relative;
    top: 9px;
    left: 15px; }

.footer {
  margin-top: 61px;
  text-align: center; }
  .footer p {
    font-size: 12px;
    color: #fff; }

@media only screen and (max-width: 950px) {
  .left-img-blocks,
  .center-img-blocks,
  .right-img-blocks {
    justify-self: center; } }
