
* {
  margin: 0;
  padding: 0;
  text-align: center
}
.nav li {
  display: inline-block;

}

.nav li a {
  display: inline-block;
  margin: 32px 32px; 
  color: #16a085;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  list-style: none;
}

.text-section {
  width: 1280px;
  margin: 0 auto;
  background:#ccc;
  padding-bottom: 94px;
}

.site-img img {
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 22px;
  padding-top: 56px;
  padding-bottom: 32px;
  text-transform: uppercase;
}

.text-section p {
  margin-bottom: 38px;
  color: #000;
  font-weight: 700;
  width: 80%;
  padding: 0 113px
}

.btn button {
  padding: 20px 30px;
  background-color: #16a085;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}


.footer {
  width: 1280px;
}
.copy p {
  text-align: right;
  padding: 47px 0
  
}
