@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');


.main-content {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.inner-width {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.grid {
  display: grid !important;
}

.titles {
    color: #4e4e4e;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    position: relative;
    display: inline-block;
    padding-bottom: 37px;
    text-align: center;
   
}

.titles::after {
  content: "";
  display: inline-block;
  width: 76px;
  border: 1px solid #18cfab;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  -webkit-box-shadow: 12px 3px 0px 0px #18cfab;
  box-shadow: 12px 3px 0px 0px #18cfab;
}

.header {
  padding: 20px 0;
  -webkit-box-shadow: inset 200px 200px 5px 200px rgba(0,0,0,0.6);
  -moz-box-shadow: inset 200px 200px 5px 200px rgba(0,0,0,0.6);
  box-shadow: inset 200px 200px 5px 200px rgba(0,0,0,0.6);
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header-inner {
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.nav-menu-list-items {
  position: relative;
}

.nav-menu-list-items::after {
  display: none;
  content: "";
  width: 100%;
  border-bottom: 2px solid #18cfab;
  position: absolute;
  bottom: -49px;
  left: 0;
}

.nav-menu-list-items:hover::after {
  display: block;
}

.nav-menu-list-items:hover a {
  color: #18cfab;
}

.nav-menu-list-items a {
  display: inline-block;
}

.nav-menu-list-items:last-child a::after {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url('../images/Search_icon.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  right: -34px;
  top: -4px;
}
  
.nav-menu-list-items a {
 font-family: "Montserrat";
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  color: #b8b8b8;
  text-transform: uppercase;
}

.nav-menu-list {
  grid-auto-flow: column;
  justify-items: end;
}

.main-wrapper {
  width: 100%;
  background-image: url('../images/Layer_1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.main-wrapper-box {
  margin-top: 100px;
}

.main-wrapper-box-pre-title {
  font-family: 'Montserrat';
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 45px;
  color: #fff
}

.main-wrapper-box-pre-title span {
  color: #18cfab;
}

.main-wrapper-box-title {
  font-family: 'Montserrat';
  font-size: 79px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 37px;
}

.main-wrapper-box-after-title {
  color: #d4d4d4;
  font-family: 'Montserrat';
  font-size: 34px;
  font-weight: 300;
}

.main-wrapper-box-btns {
  margin-top: 100px;
}

.main-wrapper-btn {
  display: inline-block;
  margin: 0 14px;
}

.main-wrapper-btn a {
  display: inline-block;
  width: 166px;
  padding: 26px 0;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;  
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  border-top: 4px solid #fff;
}

.main-wrapper-btn-left a {
  background-color: #18cfab;
}

.main-wrapper-btn-right a {
  background-color: #00cbf6;
}

.advantages {
  grid-template-columns: repeat(4, 1fr);
  justify-items: stretch;
}

.advantages-items {
  border-top: 7px solid  #18cfab;
  text-align: center;
  padding: 95px 0 120px;
  background-color: #1c2a33;
}

.advantages-items p {
  color: #18cfab;
font-family: Montserrat;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
}

.advantages-items:nth-child(2n) {
  border-top: 7px solid  #fff;
  background-color: #18cfab;
}

.advantages-items:nth-child(2n) p {
  color: #fff
}

.advantages-items img {
  display: inline-block;
  margin-bottom: 48px;
}

.advantages-items:nth-child(2n) img {
  margin-bottom: 69px;
}

.services {
  margin-top: 82px;
  margin-bottom: 82px;
}

.services-title {
  margin-bottom: 70px;
  text-align: center;
}

.our-works-title 
.services-title {
  text-align: center;
  margin-bottom: 54px;
  padding-bottom: 37px;
}


.our-works-btn {
  margin-top: 71px;
}

.our-works-btn button {
  display: inline-block;
  position: relative;
  border: none;
  background-color: #18cfab;
  padding: 25px 21px 25px 54px;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.our-works-btn button::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 22px;
  top: 26px;
  background-image: url('../images/plus.png');
}

.services-tabs  {
  grid-template-columns: repeat(6, 193px)
}

.services-tab {
  background-color: #f8fcfe;
  color: #717171;
}

.services-tab p {
  padding: 20px 0;
  border: 1px solid #ebebeb;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
}

.services-tabs {
  margin-bottom: 32px;
}

.services-tab-active {
  background-color: #18cfab;
  color: #fff;
  position: relative;
  
}

.services-tab-active::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 13px;
  background-image: url('../images/Rectangle.png');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -11px;
  left: 42%;
}

.services-item {
  display: none;
  grid-auto-flow: column;
  grid-column-gap: 20px
}

.services-item p {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  color: #777777;
  line-height: 24.39px;
}

.action-block {
  padding: 100px 0;
  background-image: url('../images/actionBG.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-bottom: 90px;
}

.action-block-title {
  color: #18cfab;
  font-family: 'Montserrat';
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.action-block-text {
  color: #d8d8d8;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 60px;
}

.our-works {
  background-color: #f8fcfe;
  text-align: center;
  padding: 97px 0;
}

.our-works-title {
  margin-bottom: 70px;
}

.category-tabs {
  max-width: 609px;
  width: 100%;
  margin: 0 auto 71px;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
}

.category-tab {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  padding: 24px 20px;
  color: #717171;
  border: 1px solid #ebebeb;
  background: #ffffff;
}

.category-items {
  grid-template-columns: repeat(auto-fit, minmax(284px, 284px));
  border: 1px solid transparent;
}

.category-item img {
  width: 100%;
  display: block;
}

.category-tab-hover {
  color: #18cfab;
  border-top-color: #18cfab;
}

.category-item {
  position: relative;
}

.category-item-hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f8fcfe;
  padding: 50px 0;
  border: 1px solid transparent;
  transition: opacity .3s linear;
}

.item-hover-links {
  display: inline-block;
  margin: 0 2.5px;
  margin-bottom: 34px;
}

.item-hover-links a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50% 50%;
  border: 3px solid transparent;
}

.item-hover-links a i {
  font-size: 15px;
}

.searth a {
  background-color: #18cfab;
  background-image: url('../images/searth.png');
  background-repeat: no-repeat;
  background-position: center;

}

.link a {
  border: 1px solid #18cfab;
  background-image: url('../images/link.png');
  background-repeat: no-repeat;
  background-position: center;
}

.item-title {
  color: #18cfab;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.category-item:hover  .category-item-hover{
  opacity: 1;
  border: 3px solid #18cfab;
}

.item-hover-category {
color: #8a8a8a;
font-family: 'Montserrat';
font-size: 12px;
font-weight: 300;
text-transform: uppercase;
}

.loaded-hide {
  display: none !important;
}

.news-title {
  text-align: center;
  margin-bottom: 70px;
}


.news-item-link {
  display: block;
}

.news-item span {
  display: inline-block;
  margin: 14px 0;
}

.news-wrapper {
  grid-template-columns: repeat(4, 263px);
  grid-column-gap: 28px;
  grid-row-gap: 45px;
  justify-content: center;
  margin-bottom: 132px;
}

.news-item {
  background-color: #f8fcfe;
  text-align: center;
  position: relative;
}

.news-item-title {
  color: #717171;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 700;
  transition: all .3s linear
}

.news-item-info {
  color: #777777;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
}

.date {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 20px;
  background-color: #203e38;
  color: #ffffff;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  margin: 0 !important;
  line-height: 1;
  transition: all .3s linear
}

.date span {
  display: block;
  margin: 0 !important;
  padding-top: 7px;
}

.news-item:hover .date {
  background-color: #18cfab;
}

.news-item:hover .news-item-title {
  color: #18cfab;
}

.about-us {
  padding: 100px 0;
  background-image: url('../images/aboutBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.about-us img {
  display: inline-block;
}

.about-us-title {
  text-align: center;
  width: 100%;
  margin-bottom: 142px;
}

.about-us-title .titles {
  color: #fff;
}

.arrows {
  top: 14px;
  width: 30px;
  height: 30px;
  border: 1px solid #bbbbbb;
  background-image: url('../images/arrAbout.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  opacity: .6;
}


#prev {
  transform: rotate(180deg);
  justify-self: end;
}

#next {
  justify-self: baseline;
}

.arrows:hover {
  background-color: #18cfab;
  border: 1px solid #18cfab;
  opacity: 1;
}

.about-us-slide {
  text-align: center;
}

.slide-text {
  color: #bbbbbb;
  position: relative;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 43px;
}

.slide-text::before {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 44px;
  height: 30px;
  display: inline-block;
  background-image: url('../images/quats.png');
  background-repeat: no-repeat;
  background-position: center;
}

.employee-name {
  color: #18cfab;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.employee-position {
  font-family: "Montserrat";
  font-weight: 300;
  color: #bbbbbb;
  margin-bottom: 37px;
}

.slider-controll {
  margin-top: 70px;
  position: relative;
}

.slider-dots {
  margin: 0 auto;
  position: relative;
  justify-content: center;
  grid-template-columns: repeat(6, 60px);
  grid-column-gap: 38px;
  justify-items: center;
  align-items: center;
 
}

.employee-img {
  -webkit-box-shadow: 0px 0px 0px 10px rgba(31,218,181,0.2);
  -moz-box-shadow: 0px 0px 0px 10px rgba(31,218,181,0.2);
  box-shadow: 0px 0px 0px 10px rgba(31,218,181,0.2);
  border-radius: 50% 50%;
  border: 3px solid #18cfab;
  width: 149px;
  height: 149px;
}

.slider-dot img {
  -webkit-box-shadow: 0px 0px 0px 5px rgba(31,218,181,0.2);
  -moz-box-shadow: 0px 0px 0px 5px rgba(31,218,181,0.2);
  box-shadow: 0px 0px 0px 5px rgba(31,218,181,0.2);
  border-radius: 50% 50%;
  border: 1px solid #18cfab;
  
}

.slider-dot {
  position: relative;
  top: 0;
  transition: all .3s linear
}

.slider-dot:hover {
  top: -15px;
}

.slider-dot-active {
  top: -15px;
}

.about-us-slides {
  height: 351px;
  position: relative;
}

.about-us-slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .3s linear;
}

.current-slide {
  opacity: 1;
  transition: opacity .6s linear;
}

.footer {
  padding: 48px 0;
  background-color: #22353f;
  margin-top: -1px;
}

.footer p {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  color: #aeaeae;
  text-align: center;
}

.footer p span {
  color: #18cfab;
}





