.star-wars {
  width: 100%;
  background-color: #000000;
  height: 800px;
  overflow: hidden;
  perspective: 500px;
  position: relative;
  
}


.star-wars div {
  position: absolute;
  bottom: 0;
  animation: star 30s linear infinite;
  
}

.star-wars p {
  color: yellow;
  text-align: center;
  width: 50%;
  margin: 30px auto;
  font-size: 50px;
  line-height: 1.3;
}



@keyframes star {
  0% {
    top: 100%;
    transform: rotateX(70deg);
  }

  100% {
    top: -170%;
    transform: rotateX(32deg);
  }
}