* {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}


.main-container {
  max-width: 1366px;
  width: 100%;
  background-image: url("images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  margin: 0 auto;

}

.header {
  padding: 20px 100px;
  -webkit-box-shadow: inset 200px 200px 5px 200px rgba(0,0,0,0.41);
  -moz-box-shadow: inset 200px 200px 5px 200px rgba(0,0,0,0.41);
  box-shadow: inset 200px 200px 5px 200px rgba(0,0,0,0.41);
  display: flex;



}

.logo-wrap {
  flex-grow: 1
}

.logo  {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  display: block;
}

.logo:hover {
  color: #3cb878;
}

.header-icon {
  width: 20px;
  height: 20px;
  background-image: url(images/spriteWhite.png);
  display: inline-block;
  margin: 0 14px;
}

.header-icon:hover {
  background-image: url("images/sprite-icons.png");
}

.icon-wrap {
  font-size: 0;
}

.icon-wrap::after {
  content: "";
  color: #fff;
  display: inline-block;
  height: 19px;
  width: 1px;
  background-image: url("images/line.png");
  background-size: cover;
  margin-right: 24px;
  margin-left: 8px;

}


.icon-mail {
  background-position: 77px 20px;
  width: 28px;
  height: 20px;
}

.icon-compass {
  background-position: 20px 0;
}

.log-wrap  {
  font-size: 14px;
  color: #fff;
  line-height: 21px;
}

.log-link {
  color: #3cb878;
  font-size: 14px;
  }

.log-link:hover {
  text-decoration: underline;
}

.form-wrapp {
  width: 444px;
  
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
  margin: 65px auto;
  background: #ffffff;
  padding: 28px 60px;
  border-radius: 10px;
  position: relative;
}


.log-items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.log-items .log-link {
  margin-top: 6px;
}


.picked-item {
  color: #434343;
  font-size: 20px;
}

.sochial-log {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}

.log-fb  a {
  display: block;
  padding: 16px 17px;
  background-color: #264b96;
  font-size: 16px;
  color: #fff;
  line-height: 21px;
  border-radius: 5px;
  
  
}

.log-fb a::before{
  content: url("images/facebook1.png");
  display: inline-block;
  background-color: #264b96;
  padding-right: 20px;
  margin-right: 17px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);

 }


 .log-goo  a {
  display: block;
  padding: 17.5px 17px;
  background-color: #c3412c;
  font-size: 16px;
  color: #fff;
  line-height: 21px;
  border-radius: 5px;
  
  
}

.log-goo a::before{
  content: url("images/G+.png");
  display: inline-block;
  background-color: #c3412c;
  padding-right: 18px;
  margin-right: 24px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);

 }


 .or {
    position: relative;
   margin-bottom: 20px;
   text-align: center;
   
 }

 .or  p {
  color: #848484;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  display: inline-block;
 
  
 }


 .or p::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: " ";
  display: block;
  width: 135px;
  height: 1px;
  background-color: #eaeaea;
 
  
  }

  .or p::after {
    position: absolute;
    top: 50%;
    right: 0;
    content: " ";
    display: block;
    width: 135px;
    height: 1px;
    background-color: #eaeaea;
 }

 input:not([type="checkbox"]) {
   display: block;
   width: 100%;
   height: 46px;
   border-radius: 5px;
   border: 1px solid #eaeaea;
   margin-bottom: 9px;
   transition: 0.5s ease;
   color: #000;
   font-size: 14px;
   padding-left: 17px;
   }

   input[type="text"] {
     text-transform: capitalize;
   }

 input:not([type="checkbox"]):focus {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
  outline: none;
  
  
 }

 input::-webkit-input-placeholder {
  color: #bebebe;
 }

 label {
   margin-top: 15px;
   margin-bottom: 28px;
   display: inline-block;
   font-size: 14px;
 }

 label input {
   margin-right: 10px;
 }

 input:checked +  label span {
  color: #3cb878;
 }




 .checkbox {
   position: absolute;
   z-index: -1;
   opacity: 0;
   
 }

 .checkbox + label {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
}

.checkbox + label::before {
  content: ""; 
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #bebebe;
  border-radius: 2px;
  left: 0;
  top: -2px;

  
}

input:checked + label::before {
   background-image: url("images/checkbox.png");
   background-repeat: no-repeat;
   background-position: center center;

   
}


button {
  width: 100%;
  display: block;
  border: none;
  padding: 17px 0;
  background-color: #329a65;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}

.green-square {
  width: 18px;
  height: 18px;
  background-color: #329a65;
  position: absolute;
  top: 29px;
  left: 0;
}

  
  

