  
@import vars.sass


*
  margin: 0
  padding: 0
  box-sizing: border-box



body 
  min-width: 320px
  margin: 0 auto 
  overflow-x: hidden
  position: relative
  line-height: 1.5
  font-size: 15px
  font-family: "Verdana", sans-serif

