@import default.sass

.content 
  +parentBg(1366px)
  background: url("../images/background.jpg")
  padding: 49px 0

.container
  +parentBg(1062px)


.header 
  display: grid
  grid-template-columns: 1fr 1fr
  margin-bottom: 70px
  
  
.logo 
  a 
    position: relative
    display: inline-block
    font-size: 18px
    color: #fff;
    font-weight: 700 
    text-decoration: none
    padding-left: 61px
    line-height: 1
    &::before
      content: url("../images/logo.png")
      display: inline-block
      position: absolute
      bottom: 0
      left: 0
    &:hover
      color: $mainColor
    &:hover::before
      content: url("../images/logoColor.png")
    span 
      display: block
      font-size: 29px

.header-cont 
  text-align: right
  li
    list-style: none
    a
      font-size: 18px
      font-weight: 400
      color: #fff
      text-decoration: none
      &:hover
        color: $mainColor

.main-content
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(317px, 1fr))
  grid-row-gap: 58px

.img-blocks
  text-align: center
  width: 307px
  &:hover .img-link a 
    color: $mainColor
  &:hover .hover-block
    height: 63px

.img-block-inner    
  position: relative
  margin-bottom: 22px 
  width: 307px

.left-img-blocks
  justify-self: start

.center-img-blocks
  justify-self: center

.right-img-blocks
  justify-self: end

.img-link
  a
    font-size: 18px
    color: #fff
    text-decoration: none

.hover-block
  display: grid
  position: absolute
  overflow: hidden
  left: 0
  bottom: 0
  grid-template-columns: 1fr 1fr
  background-color: $mainColor
  height: 0px
  width: 308px
  transition: .3s linear 
  

.price
  justify-self: start
 
  text-align: left
  font-size: 20px
  color: #fff
  line-height: 1
  padding: 4px 0 0 13px
  span 
    font-size: 10px

.details
  align-self: center
  font-size: 14px
  color: #ffffff
  text-decoration: none
  &:hover
    text-decoration: underline
  &::after 
    content: " "
    display: inline-block
    width: 7px
    height: 18px
    background-image: url("../images/Arrow.png")
    background-repeat: no-repeat
    position: relative
    top: 9px
    left: 15px

.footer
  margin-top: 61px
  text-align: center
  p
    font-size: 12px
    color: #fff


@media only screen and (max-width: 950px)
  .left-img-blocks,
  .center-img-blocks,
  .right-img-blocks
     justify-self: center



