

=parentBg($size)
  max-width: $size
  width: 100% !important
  background-size: cover !important
  background-repeat: no-repeat !important
  margin: 0 auto !important
  background-position: center center !important

$mainColor: #f26522