
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.clear:after,
.clear:before {
  content: " ";
  display: block;
  clear: both;
}


.content {
  width: 1280px;
  margin: 0 auto;
}

.header {
  margin-bottom: 50px;
}

.logo {
  font-size: 80px;
  color: #000;
  margin: 60px 0 45px

}

.logo a {
  color: #000;
  text-decoration: none;
}

.logo  a span {
  color: #4bcaff;
}


.nav {
  background-color: #35444f;
}


.nav-list {
  text-align: center
}

.nav-items {
  list-style: none;
  display: inline-block;
  
}

.nav-items:hover {
  background-color: #222f3a !important;
}

.nav-items-links {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  padding: 25px 40px;
  display: inline-block;
}


.side-nav {
  border: 1px solid #000;width: 344px;

  margin-right: 53px;
  float: left;
  
}

.side-nav-items {
  list-style: none;
  display: block
}

.side-nav-items-links {
  text-decoration: none;
  font-size: 27px;
  color: #485863;
  padding: 20px 0 20px 44px;
  display: inline-block;
}

.side-nav-items:hover {
  background-color: #dbdbdb;
}

.side-nav-items:hover .side-nav-items-links {
  color: #000000;
  padding-left: 69px;
}


.right-cont {
  display: inline-block;
  text-align: center;
  width: 883px;
}

.site-img {
  border: 1px solid #000;
  padding: 75px 268px;
}

.site-img img {
  transition: all 1s ease;
}

.site-img img:hover {
  transform: scale(1.1);
}


.right-cont-text {
  text-align: left
}

.right-cont-text p {
  font-size: 18px;
  color: #2c2c2c;
  margin: 25px auto;
  width: 815px;

}

.footer {
  background-color: rgba(99, 105, 110, 0.48);
  padding: 22px 0;
  margin-bottom: 30px;
}


.footer-nav {
  width: 70%;
  float: left;
}

.footer-nav-list {
  text-align: left;
}

.footer-nav-items {
  display: inline-block;
  list-style: none;
  margin: 0 12px
}

.footer-nav-links {
  font-size: 28px;
  text-decoration: none;
  color: #000
}

.footer-nav-links:hover {
  color: #3181a6;
  text-decoration: underline;
}

.copy {
  text-align: right;
}

.copy p {
  font-size: 28px;
  color: #000;
  padding-right: 38px;
  
}
