
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Lato');

/* font-family: 'Lato', sans-serif; */

:root {
  --mainF: 'Lato', Verdana, sans-serif; 
  --H1Font: 'Montserrat',  Verdana, sans-serif;
}

.main-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto !important;
  
}

.header {
  height: 100vh;
  background: url("../img/headerBG.png") no-repeat  center center  fixed;
  background-size: cover;
  display: grid;
  align-items: flex-end;
}

.header-logo-block {
  margin: 0 0 145px 83px;
}

.pre-logo-text p {
  font-family: var(--mainF);
  font-size: 18px;
  color: #fff;
  margin-bottom: 28px;
}

.pre-logo-text p:first-child {
  font-family: var(--H1Font);
  color: #fff;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.logo-text {
  padding-right: 56px;
  border: 1px solid #ffffff;
  display: inline-block;
  -webkit-box-shadow: inset 200px 200px 5px 200px rgba(0,0,0,0.6);
  -moz-box-shadow: inset 200px 200px 5px 200px rgba(0,0,0,0.6);
  box-shadow: inset 200px 200px 5px 200px rgba(0,0,0,0.6);
  
}

.logo-text p {
  font-family: var(--H1Font);
  font-size: 54px;
  text-transform: uppercase;
  color: #ffffff;
}

.logo-text p  span {
  display: inline-block;
  padding: 44px 34px;
  color: #f48e0b;
  background: #fff;
}

.about-us {
  padding: 112px 0;
  text-align: center;
}

.about-us p {
  font-family: var(--mainF);
  font-size: 17px;
  color: #4d4943;
}

.line::after {
  content: "";
  display: inline-block;
  border: 3px solid #f48e0b;
  width: 60px;
  margin-top: 52px;

}

.about-us p:first-child {
  font-family:  var(--H1Font);
  font-size: 22px;
  margin-bottom: 35px;
  text-transform: uppercase;
  color: #333333;
}



.ideas-block {
 text-align: center;
  background-image: url("../img/bg2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;


}

.ideas-block-text {
  padding: 150px 0
}

.ideas-block-text p {
  font-family: var(--H1Font);
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
}

.ideas-block-text p span {
  color: #f1ad1d;
}


.featured-block {
  text-align: center;
  background-image: url("../img/bgFe.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 174px;
  padding-bottom: 114px;
  display: grid;
  justify-content: center;
}

.featured-block-img {
  max-width: 840px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-end;
  justify-items: center
}


